body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* navigation bar */
#navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #0fa187 solid 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  position: relative;
  z-index: 1;
}

/* logo image */
.logo-img {
  /* padding-top: 20px; */
  padding-left: 40px;
}

nav.active {
  display: flex;
}

.nav-contain ul {
  list-style: none;
  display: flex;
}
.nav-contain ul li a {
  color: #2b6777;
  font-weight: 600;
  text-decoration: none;
  margin-right: 100px;
  font-size: 18px;
  transition: all 0.25s cubic-bezier(0.51, 0.52, 0, 0);
}

.nav-contain ul li a:hover {
  font-size: 22px;
  font-weight: 1000;
  color: #0fa187;
  cursor: pointer;
}

h1 {
  color: #2b6777;
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
}

.toggle-button {
  position: absolute;
  top: 20px;
  right: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 65px;
  height: 40px;
}

.close-toggle {
  font-size: 50px;
  color: #0fa187;
  margin-top: 1rem;
  margin-left: 2rem;
  display: none;
}

.bar1 {
  height: 10px;
  width: 100%;
  background-color: #2b6777;
  border-radius: 10px;
}

.bar2 {
  height: 10px;
  width: 80%;
  background-color: #2b6777;
  border-radius: 10px;
}

.bar3 {
  height: 10px;
  width: 60%;
  background-color: #2b6777;
  border-radius: 10px;
}

.container {
  border: #0fa187 solid;
  width: 320px;
  padding: 20px 50px;
  border-radius: 20px;
  margin: auto;
  transition: all 0.25s cubic-bezier(0.51, 0.52, 0, 0);
  position: relative;
}

.container:hover {
  transform: scale(1.1);
}

label {
  color: #2b6777;
  font-size: 20px;
  font-weight: 600;
}

.name i {
  display: none;
}

.name small {
  display: none;
}

.name.errorname .fa-exclamation {
  display: flex;
  position: absolute;
  margin-left: 330px;
  margin-top: -50px;
  font-size: 22px;
  color: red;
}

.name.errorname small {
  display: flex;
  position: absolute;
  margin-left: 10px;
  margin-top: -20px;
  font-size: 15px;
  font-weight: 800;
  color: red;
}

.name.errorname {
  margin-bottom: 10px;
}

.name.successname .fa-check {
  display: flex;
  position: absolute;
  margin-left: 330px;
  margin-top: -50px;
  font-size: 22px;
  color: #0fa187;
}

.email small {
  display: none;
}

.email i {
  display: none;
}

.email.erroremail .fa-exclamation {
  display: flex;
  position: absolute;
  margin-left: 330px;
  margin-top: -50px;
  font-size: 22px;
  color: red;
}

.email.erroremail small {
  display: flex;
  position: absolute;
  margin-left: 10px;
  margin-top: -20px;
  font-size: 15px;
  font-weight: 800;
  color: red;
}

.email.erroremail {
  margin-bottom: 10px;
}

.email.successemail .fa-check {
  display: flex;
  position: absolute;
  margin-left: 330px;
  margin-top: -50px;
  font-size: 22px;
  color: #0fa187;
}

.password small {
  display: none;
}

.password i {
  display: none;
}

.password.errorpassword .fa-exclamation {
  display: flex;
  position: absolute;
  margin-left: 330px;
  margin-top: -50px;
  font-size: 22px;
  color: red;
}

.password.errorpassword small {
  display: flex;
  position: absolute;
  margin-left: 10px;
  margin-top: -20px;
  font-size: 15px;
  font-weight: 800;
  color: red;
}

.password.errorpassword {
  margin-bottom: 10px;
}

.password.successpassword .fa-check {
  display: flex;
  position: absolute;
  margin-left: 330px;
  margin-top: -50px;
  font-size: 22px;
  color: #0fa187;
}

input {
  width: 300px;
  height: 40px;
  font-size: 16px;
  background-color: #0fa187;
  border-radius: 30px;
  border: none;
  color: white;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.25s cubic-bezier(0.51, 0.52, 0, 0);
  outline: none;
}

input:hover {
  transform: scale(1.05);
}

button {
  color: white;
  font-size: 20px;
  font-weight: 800;
  width: 300px;
  height: 40px;
  background-color: #0fa187;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  transition: all 0.25s cubic-bezier(0.51, 0.52, 0, 0);
}

button:hover {
  transform: scale(1.2);
}

.submit {
  color: white;
  background-color: #0fa187;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  text-decoration: none;
}

#icons {
  margin-left: 22px;
  margin-bottom: -70px;
}

.icon-container ul li {
  list-style: none;
  width: 0;
}

.fab {
  padding-bottom: 35px;
  font-size: 20px;
  color: black;
  transition: all 0.25s cubic-bezier(0.51, 0.52, 0, 0);
}
.far {
  padding-bottom: 0px;
  font-size: 20px;
  color: black;
  transition: all 0.25s cubic-bezier(0.51, 0.52, 0, 0);
}

.icon-container ul li:hover .fab {
  color: #0fa187;
  font-size: 30px;
}

.icon-container ul li:hover .far {
  color: #0fa187;
  font-size: 30px;
}

.nav-lines {
  display: flex;
  justify-content: space-between;
}

.logo-line {
  position: absolute;
  top: 10px;
  margin-left: 80px;
}

.right-line {
  position: absolute;
  right: 0;
}

.home-line {
  position: relative;
  padding-right: 160px;
  top: -182px;
}
.discover-line {
  position: relative;
  padding-right: 150px;
  top: -175px;
}

.project-line {
  position: relative;
  padding-right: 150px;
  top: -165px;
}

.contact-line {
  position: relative;
  padding-right: 150px;
  top: -150px;
}

.blog-line {
  position: relative;
  padding-right: 120px;
  top: -130px;
}

.admin-line {
  position: relative;
  padding-right: 110px;
  top: -110px;
}

.lower-lines {
  display: flex;
  justify-content: space-between;
}

.left-lower {
  margin-bottom: -10px;
  margin-left: 30px;
}

@media all and (max-width: 1205px) and (min-width: 1050px) {
  .nav-contain ul li a {
    margin-right: 70px;
    font-size: 18px;
  }

  .admin-line {
    padding-right: 80px;
  }

  .blog-line {
    padding-right: 90px;
  }

  .contact-line {
    padding-right: 115px;
  }

  .project-line {
    padding-right: 125px;
  }

  .discover-line {
    padding-right: 130px;
  }

  .home-line {
    padding-right: 120px;
  }
}

@media all and (max-width: 1049px) and (min-width: 950px) {
  .nav-contain ul li a {
    margin-right: 65px;
    font-size: 17px;
  }

  .admin-line {
    padding-right: 75px;
  }

  .blog-line {
    padding-right: 85px;
  }

  .contact-line {
    padding-right: 105px;
  }

  .project-line {
    padding-right: 110px;
  }

  .discover-line {
    padding-right: 125px;
  }

  .home-line {
    padding-right: 110px;
  }

  .logo {
    width: 80px;
  }
}

@media all and (max-width: 949px) and (min-width: 769px) {
  .nav-contain ul li a {
    margin-right: 45px;
    font-size: 15px;
  }

  .admin-line {
    padding-right: 55px;
  }

  .blog-line {
    padding-right: 55px;
  }

  .contact-line {
    padding-right: 70px;
  }

  .project-line {
    padding-right: 85px;
  }

  .discover-line {
    padding-right: 95px;
  }

  .home-line {
    padding-right: 80px;
  }

  .logo {
    width: 60px;
  }

  h1 {
    font-size: 40px;
  }

  .saluti {
    font-size: 18px;
  }
}

@media all and (max-width: 768px) and (min-width: 481px) {
  .nav-contain ul li a {
    margin-right: 30px;
    font-size: 14px;
  }

  .admin-line {
    padding-right: 0px;
    display: none;
  }

  .blog-line {
    padding-right: 0px;
    display: none;
  }

  .contact-line {
    padding-right: 0px;
    display: none;
  }

  .project-line {
    padding-right: 0px;
    display: none;
  }

  .discover-line {
    padding-right: 0px;
    display: none;
  }

  .home-line {
    padding-right: 0px;
    display: none;
  }

  .logo {
    width: 100px;
  }

  h1 {
    font-size: 30px;
  }

  nav {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    border-left: #0fa187 5px solid;
    /* border-top: #0fa187 5px solid; */
    border-bottom: #0fa187 5px solid;
    border-radius: 5px;
    min-height: 100vh;
    min-width: 50vw;
    top: 0;
  }
  .nav-contain ul {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 3rem;
  }

  .close-toggle {
    display: flex;
  }

  .home-link {
    background-color: #0fa187;
    width: 100px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 160px; */
    padding-top: 5px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
  }

  .discover-link {
    background-color: #0fa187;
    width: 150px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 110px; */
    padding-top: 5px;
    border-radius: 20px;
  }

  .project-link {
    background-color: #0fa187;
    width: 180px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 80px; */
    padding-top: 5px;
    border-radius: 20px;
  }
  .contact-link {
    background-color: #0fa187;
    width: 210px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 50px; */
    padding-top: 5px;
    border-radius: 20px;
  }
  .blog-link {
    background-color: #0fa187;
    width: 230px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 30px; */
    padding-top: 5px;
    border-radius: 20px;
  }

  .admin-link {
    background-color: #0fa187;
    width: 260px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    padding-top: 5px;
    border-radius: 20px;
  }
  .nav-contain ul li a {
    color: white;
  }

  .toggle-button {
    display: flex;
  }
}

@media all and (max-width: 480px) and (min-width: 320px) {
  .nav-contain ul li a {
    margin-right: 30px;
    font-size: 14px;
  }

  .admin-line {
    padding-right: 0px;
    display: none;
  }

  .blog-line {
    padding-right: 0px;
    display: none;
  }

  .contact-line {
    padding-right: 0px;
    display: none;
  }

  .project-line {
    padding-right: 0px;
    display: none;
  }

  .discover-line {
    padding-right: 0px;
    display: none;
  }

  .home-line {
    padding-right: 0px;
    display: none;
  }

  .logo-line {
    display: none;
  }

  .logo {
    width: 80px;
  }

  h1 {
    font-size: 23px;
  }

  nav {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    border-left: #0fa187 5px solid;
    /* border-top: #0fa187 5px solid; */
    border-bottom: #0fa187 5px solid;
    border-radius: 5px;
    min-height: 100vh;
    min-width: 50vw;
    top: 0;
  }
  .nav-contain ul {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 3rem;
  }

  .home-link {
    background-color: #0fa187;
    width: 90px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 160px; */
    padding-top: 5px;
    border-radius: 20px;
  }

  .discover-link {
    background-color: #0fa187;
    width: 120px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 110px; */
    padding-top: 5px;
    border-radius: 20px;
  }

  .project-link {
    background-color: #0fa187;
    width: 140px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 80px; */
    padding-top: 5px;
    border-radius: 20px;
  }
  .contact-link {
    background-color: #0fa187;
    width: 160px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    position: relative;
    /* left: 50px; */
    padding-top: 5px;
    border-radius: 20px;
  }
  .blog-link {
    background-color: #0fa187;
    width: 180px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 30px; */
    padding-top: 5px;
    border-radius: 20px;
  }

  .admin-link {
    background-color: #0fa187;
    width: 200px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    padding-top: 5px;
    border-radius: 20px;
  }
  .nav-contain ul li a {
    color: white;
    font-size: 13px;
  }

  .close-toggle {
    display: flex;
    font-size: 30px;
  }

  .toggle-button {
    display: flex;
    width: 55px;
  }

  .span {
    height: 7px;
  }

  .right-lower {
    display: none;
  }

  .container {
    width: 200px;
    padding: 10px;
  }

  input {
    width: 180px;
  }

  input:hover {
    transform: scale(1.05);
  }

  button {
    width: 200px;
  }

  button:hover {
    transform: scale(1.05);
  }
}

@media all and (max-width: 319px) {
  .nav-contain ul li a {
    margin-right: 30px;
    font-size: 14px;
  }

  .admin-line {
    padding-right: 0px;
    display: none;
  }

  .blog-line {
    padding-right: 0px;
    display: none;
  }

  .contact-line {
    padding-right: 0px;
    display: none;
  }

  .project-line {
    padding-right: 0px;
    display: none;
  }

  .discover-line {
    padding-right: 0px;
    display: none;
  }

  .home-line {
    padding-right: 0px;
    display: none;
  }

  .logo-line {
    display: none;
  }

  .logo {
    width: 80px;
  }

  nav {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    border-left: #0fa187 5px solid;
    /* border-top: #0fa187 5px solid; */
    border-bottom: #0fa187 5px solid;
    border-radius: 5px;
    min-height: 100vh;
    min-width: 50vw;
    top: 0;
  }
  .nav-contain ul {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 3rem;
  }

  .home-link {
    background-color: #0fa187;
    width: 90px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 160px; */
    padding-top: 5px;
    border-radius: 20px;
  }

  .discover-link {
    background-color: #0fa187;
    width: 120px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 110px; */
    padding-top: 5px;
    border-radius: 20px;
  }

  .project-link {
    background-color: #0fa187;
    width: 140px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 80px; */
    padding-top: 5px;
    border-radius: 20px;
  }
  .contact-link {
    background-color: #0fa187;
    width: 160px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    position: relative;
    /* left: 50px; */
    padding-top: 5px;
    border-radius: 20px;
  }
  .blog-link {
    background-color: #0fa187;
    width: 180px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 30px; */
    padding-top: 5px;
    border-radius: 20px;
  }

  .admin-link {
    background-color: #0fa187;
    width: 200px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    padding-top: 5px;
    border-radius: 20px;
  }
  .nav-contain ul li a {
    color: white;
    font-size: 13px;
  }

  .close-toggle {
    display: flex;
    font-size: 30px;
  }

  .saluti {
    font-size: 16px;
  }

  .green-border {
    font-size: 16px;
    position: relative;
    z-index: 1;
    width: 200px;
  }

  .left-description {
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .about a {
    font-size: 16px;
  }

  .description-line {
    margin-left: 160px;
  }
  .toggle-button {
    display: flex;
    width: 55px;
  }

  .span {
    height: 7px;
  }

  .right-lower {
    display: none;
  }

  .container {
    width: 200px;
    padding: 10px;
  }

  input {
    width: 200px;
  }

  input:hover {
    transform: scale(1.05);
  }

  button {
    width: 200px;
  }

  button:hover {
    transform: scale(1.05);
  }
}
