body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* navigation bar */
#navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #0fa187 solid 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  position: relative;
  z-index: 1;
}

nav.active {
  display: flex;
}

/* logo image */
.logo-img {
  /* padding-top: 20px; */
  padding-left: 40px;
}

.nav-contain ul {
  list-style: none;
  display: flex;
}
.nav-contain ul li a {
  color: #2b6777;
  font-weight: 600;
  text-decoration: none;
  margin-right: 100px;
  font-size: 18px;
  transition: all 0.25s cubic-bezier(0.51, 0.52, 0, 0);
}

.nav-contain ul li a:hover {
  font-size: 22px;
  font-weight: 1000;
  color: #0fa187;
  cursor: pointer;
}

.toggle-button {
  position: absolute;
  top: 20px;
  right: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 65px;
  height: 40px;
}

.close-toggle {
  font-size: 50px;
  color: #0fa187;
  margin-top: 1rem;
  margin-left: 2rem;
  display: none;
}

.bar1 {
  height: 10px;
  width: 100%;
  background-color: #2b6777;
  border-radius: 10px;
}

.bar2 {
  height: 10px;
  width: 80%;
  background-color: #2b6777;
  border-radius: 10px;
}

.bar3 {
  height: 10px;
  width: 60%;
  background-color: #2b6777;
  border-radius: 10px;
}

.container {
  /* display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px; */
  /* position: relative; */
}

.spinner {
  display: none;
  width: 80px;
  height: 80px;
  position: relative;
  top: 50px;
  left: 50%;
  transform: scale(2);
}
.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #0fa187;
  border-color: #0fa187 transparent #0fa187 transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container1 {
  display: inline-block;
  margin-left: 130px;
  margin-bottom: 150px;
}

.article1 {
  transition: all 0.25s cubic-bezier(0.51, 0.52, 0, 0);
}

.article1.delete {
  visibility: hidden;
}

.article1:hover {
  transform: scale(1.12);
}

.article2 {
  transition: all 0.25s cubic-bezier(0.51, 0.52, 0, 0);
}

.article2.delete {
  visibility: hidden;
}

.article2:hover {
  transform: scale(1.12);
}

.view-article1 {
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.51, 0.52, 0, 0);
}

.article-image1 {
  width: 300px;
  height: 150px;
  object-fit: contain;
}

.article-title {
  font-size: 20px;
}

.article-description {
  font-size: 15px;
}

.article1 {
  display: flex;
  align-items: center;
}

.article2 {
  display: flex;
  align-items: center;
}

.panels {
  margin-left: 20px;
}

.panels a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.update {
  background-color: #0fa187;
  padding: 10px 10px;
  width: 120px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-weight: 600;
  transition: all 0.25s cubic-bezier(0.51, 0.52, 0, 0);
  text-align: center;
}

.update:hover {
  background-color: #2b6777;
  transform: scale(1.1);
}

.delete1 {
  background-color: #0fa187;
  padding: 10px 10px;
  width: 120px;
  border-radius: 20px;
  font-weight: 600;
  transition: all 0.25s cubic-bezier(0.51, 0.52, 0, 0);
  text-align: center;
}

.delete2 {
  background-color: #0fa187;
  padding: 10px 10px;
  width: 120px;
  border-radius: 20px;
  font-weight: 600;
  transition: all 0.25s cubic-bezier(0.51, 0.52, 0, 0);
  text-align: center;
}

.delete1:hover {
  background-color: red;
  transform: scale(1.1);
}

.delete2:hover {
  background-color: red;
  transform: scale(1.1);
}

.greenborder {
  color: white;
  font-size: 20px;
  background-color: #0fa187;
  width: 300px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 30px;
  line-height: 29px;
  position: relative;
  z-index: 1;
}

.greenborder:hover {
  color: #2b6777;
  background-color: white;
  border: 2px solid #0fa187;
}

.lines {
  position: absolute;
}

.blog-topline {
  position: relative;
  top: -370px;
  left: 300px;
  transition: all 0.25s cubic-bezier(0.51, 0.52, 0, 0);
}

.article1:hover .blog-topline {
  transform: translateX(-100px);
}

.article2:hover .blog-topline {
  transform: translateX(-100px);
}

.blog-bottomline {
  position: relative;
  top: -60px;
  left: -100px;
  transition: all 0.25s cubic-bezier(0.51, 0.52, 0, 0);
}

.article1:hover .blog-bottomline {
  transform: translateY(-100px);
}

.article2:hover .blog-bottomline {
  transform: translateY(-100px);
}

h1 {
  color: #2b6777;
  font-size: 40px;
  margin-left: 150px;
  margin-top: 50px;
}

.admin {
  width: 200px;
  padding: 15px;
  background-color: #0fa187;
  font-size: 18px;
  border-radius: 30px;
  text-align: center;
  margin: 100px auto;
}

.admin a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

#icons {
  margin-left: 22px;
  margin-bottom: -70px;
}

.icon-container ul li {
  list-style: none;
  width: 0;
}

.fab {
  padding-bottom: 35px;
  font-size: 20px;
  color: black;
  transition: all 0.25s cubic-bezier(0.51, 0.52, 0, 0);
}
.far {
  padding-bottom: 0px;
  font-size: 20px;
  color: black;
  transition: all 0.25s cubic-bezier(0.51, 0.52, 0, 0);
}

.icon-container ul li:hover .fab {
  color: #0fa187;
  font-size: 30px;
}

.icon-container ul li:hover .far {
  color: #0fa187;
  font-size: 30px;
}

.nav-lines {
  display: flex;
  justify-content: space-between;
}

.logo-line {
  position: absolute;
  top: 10px;
  margin-left: 80px;
}

.right-line {
  position: absolute;
  right: 0;
}

/* .home-line {
  position: relative;
  padding-right: 160px;
  top: -182px;
} */
.discover-line {
  position: relative;
  padding-right: 180px;
  top: -175px;
}

.project-line {
  position: relative;
  padding-right: 180px;
  top: -165px;
}

.contact-line {
  position: relative;
  padding-right: 160px;
  top: -150px;
}

.blog-line {
  position: relative;
  padding-right: 135px;
  top: -130px;
}

.admin-line {
  position: relative;
  padding-right: 110px;
  top: -110px;
}

.lower-lines {
  display: flex;
  justify-content: space-between;
}

.left-lower {
  margin-bottom: -10px;
  margin-left: 30px;
}

@media all and (max-width: 1205px) and (min-width: 1050px) {
  .nav-contain ul li a {
    margin-right: 70px;
    font-size: 18px;
  }

  .admin-line {
    padding-right: 80px;
  }

  .blog-line {
    padding-right: 90px;
  }

  .contact-line {
    padding-right: 115px;
  }

  .project-line {
    padding-right: 125px;
  }

  .discover-line {
    padding-right: 130px;
  }

  .home-line {
    padding-right: 120px;
  }
}

@media all and (max-width: 1049px) and (min-width: 950px) {
  .nav-contain ul li a {
    margin-right: 65px;
    font-size: 17px;
  }

  .admin-line {
    padding-right: 75px;
  }

  .blog-line {
    padding-right: 85px;
  }

  .contact-line {
    padding-right: 105px;
  }

  .project-line {
    padding-right: 110px;
  }

  .discover-line {
    padding-right: 125px;
  }

  .home-line {
    padding-right: 110px;
  }

  .logo {
    width: 80px;
  }

  .article1 {
    flex-direction: column;
  }

  .blog-topline {
    left: 280px;
  }

  .article2 {
    flex-direction: column;
  }

  .panels {
    margin-top: 50px;
    margin-left: 30px;
  }
}

@media all and (max-width: 949px) and (min-width: 769px) {
  .nav-contain ul li a {
    margin-right: 45px;
    font-size: 15px;
  }

  .admin-line {
    padding-right: 55px;
  }

  .blog-line {
    padding-right: 55px;
  }

  .contact-line {
    padding-right: 70px;
  }

  .project-line {
    padding-right: 85px;
  }

  .discover-line {
    padding-right: 95px;
  }

  .home-line {
    padding-right: 80px;
  }

  .logo {
    width: 60px;
  }

  h1 {
    font-size: 40px;
  }

  .article1 {
    margin-right: 50px;
    flex-direction: column;
  }

  .blog-topline {
    left: 215px;
  }

  .article2 {
    padding-left: -10px;
    flex-direction: column;
  }

  .greenborder {
    width: 250px;
  }

  .article-image1 {
    width: 250px;
  }

  .panels {
    margin-top: 50px;
    margin-left: 90px;
  }
}

@media all and (max-width: 768px) and (min-width: 481px) {
  .nav-contain ul li a {
    margin-right: 30px;
    font-size: 14px;
  }

  .admin-line {
    padding-right: 0px;
    display: none;
  }

  .blog-line {
    padding-right: 0px;
    display: none;
  }

  .contact-line {
    padding-right: 0px;
    display: none;
  }

  .project-line {
    padding-right: 0px;
    display: none;
  }

  .discover-line {
    padding-right: 0px;
    display: none;
  }

  .home-line {
    padding-right: 0px;
    display: none;
  }

  .logo {
    width: 100px;
  }

  h1 {
    font-size: 35px;
    margin-top: 80px;
  }

  nav {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    border-left: #0fa187 5px solid;
    /* border-top: #0fa187 5px solid; */
    border-bottom: #0fa187 5px solid;
    border-radius: 5px;
    min-height: 100vh;
    min-width: 50vw;
    top: 0;
  }
  .nav-contain ul {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 3rem;
  }

  .close-toggle {
    display: flex;
  }

  .home-link {
    background-color: #0fa187;
    width: 130px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 160px; */
    padding-top: 5px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
  }

  .discover-link {
    background-color: #0fa187;
    width: 150px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 110px; */
    padding-top: 5px;
    border-radius: 20px;
  }

  .project-link {
    background-color: #0fa187;
    width: 180px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 80px; */
    padding-top: 5px;
    border-radius: 20px;
  }
  .contact-link {
    background-color: #0fa187;
    width: 210px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 50px; */
    padding-top: 5px;
    border-radius: 20px;
  }
  .blog-link {
    background-color: #0fa187;
    width: 230px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 30px; */
    padding-top: 5px;
    border-radius: 20px;
  }

  .admin-link {
    background-color: #0fa187;
    width: 260px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    padding-top: 5px;
    border-radius: 20px;
  }
  .nav-contain ul li a {
    color: white;
  }

  .toggle-button {
    display: flex;
  }

  .article1 {
    flex-direction: column;
  }

  .blog-topline {
    left: 230px;
  }

  .article2 {
    margin-top: 120px;
    flex-direction: column;
  }

  .greenborder {
    width: 250px;
  }

  .article-image1 {
    width: 250px;
  }

  .panels {
    margin-top: 50px;
    margin-left: 90px;
  }

  .container {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    position: relative;
    z-index: 0;
  }
}

@media all and (max-width: 480px) and (min-width: 320px) {
  .nav-contain ul li a {
    margin-right: 30px;
    font-size: 14px;
  }

  .admin-line {
    padding-right: 0px;
    display: none;
  }

  .blog-line {
    padding-right: 0px;
    display: none;
  }

  .contact-line {
    padding-right: 0px;
    display: none;
  }

  .project-line {
    padding-right: 0px;
    display: none;
  }

  .discover-line {
    padding-right: 0px;
    display: none;
  }

  .home-line {
    padding-right: 0px;
    display: none;
  }

  .logo-line {
    display: none;
  }

  .logo {
    width: 80px;
  }

  h1 {
    font-size: 30px;
    margin-left: 60px;
    margin-top: 80px;
  }

  nav {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    border-left: #0fa187 5px solid;
    /* border-top: #0fa187 5px solid; */
    border-bottom: #0fa187 5px solid;
    border-radius: 5px;
    min-height: 100vh;
    min-width: 50vw;
    top: 0;
  }
  .nav-contain ul {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 3rem;
  }

  .home-link {
    background-color: #0fa187;
    width: 120px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 160px; */
    padding-top: 5px;
    border-radius: 20px;
  }

  .discover-link {
    background-color: #0fa187;
    width: 120px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 110px; */
    padding-top: 5px;
    border-radius: 20px;
  }

  .project-link {
    background-color: #0fa187;
    width: 140px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 80px; */
    padding-top: 5px;
    border-radius: 20px;
  }
  .contact-link {
    background-color: #0fa187;
    width: 160px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    position: relative;
    /* left: 50px; */
    padding-top: 5px;
    border-radius: 20px;
  }
  .blog-link {
    background-color: #0fa187;
    width: 180px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 30px; */
    padding-top: 5px;
    border-radius: 20px;
  }

  .admin-link {
    background-color: #0fa187;
    width: 200px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    padding-top: 5px;
    border-radius: 20px;
  }
  .nav-contain ul li a {
    color: white;
    font-size: 13px;
  }

  .close-toggle {
    display: flex;
    font-size: 30px;
  }

  .toggle-button {
    display: flex;
    width: 55px;
  }

  .span {
    height: 7px;
  }

  .right-lower {
    display: none;
  }

  .article1 {
    flex-direction: column;
  }

  .blog-topline {
    left: 230px;
    display: none;
  }

  .blog-bottomline {
    left: 70px;
  }

  .article2 {
    margin-top: 120px;
    flex-direction: column;
  }

  .greenborder {
    width: 250px;
  }

  .article-image1 {
    width: 250px;
  }

  .panels {
    margin-top: 50px;
    margin-left: 130px;
  }

  .container {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    position: relative;
    z-index: 0;
  }
}

@media all and (max-width: 319px) {
  .nav-contain ul li a {
    margin-right: 30px;
    font-size: 14px;
  }

  .admin-line {
    padding-right: 0px;
    display: none;
  }

  .blog-line {
    padding-right: 0px;
    display: none;
  }

  .contact-line {
    padding-right: 0px;
    display: none;
  }

  .project-line {
    padding-right: 0px;
    display: none;
  }

  .discover-line {
    padding-right: 0px;
    display: none;
  }

  .home-line {
    padding-right: 0px;
    display: none;
  }

  .logo-line {
    display: none;
  }

  #details .container {
    flex-direction: column-reverse;
    align-items: center;
    padding-left: 50px;
    margin-top: -80px;
  }

  .logo {
    width: 80px;
  }

  nav {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    border-left: #0fa187 5px solid;
    /* border-top: #0fa187 5px solid; */
    border-bottom: #0fa187 5px solid;
    border-radius: 5px;
    min-height: 100vh;
    min-width: 50vw;
    top: 0;
  }
  .nav-contain ul {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 3rem;
  }

  .home-link {
    background-color: #0fa187;
    width: 120px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 160px; */
    padding-top: 5px;
    border-radius: 20px;
  }

  .discover-link {
    background-color: #0fa187;
    width: 120px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 110px; */
    padding-top: 5px;
    border-radius: 20px;
  }

  .project-link {
    background-color: #0fa187;
    width: 140px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 80px; */
    padding-top: 5px;
    border-radius: 20px;
  }
  .contact-link {
    background-color: #0fa187;
    width: 160px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    position: relative;
    /* left: 50px; */
    padding-top: 5px;
    border-radius: 20px;
  }
  .blog-link {
    background-color: #0fa187;
    width: 180px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    /* position: relative;
    left: 30px; */
    padding-top: 5px;
    border-radius: 20px;
  }

  .admin-link {
    background-color: #0fa187;
    width: 200px;
    height: 30px;
    text-align: right;
    margin-bottom: 40px;
    padding-top: 5px;
    border-radius: 20px;
  }
  .nav-contain ul li a {
    color: white;
    font-size: 13px;
  }

  .close-toggle {
    display: flex;
    font-size: 30px;
  }

  .toggle-button {
    display: flex;
    width: 55px;
  }

  .span {
    height: 7px;
  }

  .right-lower {
    display: none;
  }

  h1 {
    font-size: 30px;
    margin-left: 60px;
    margin-top: 80px;
  }

  .article1 {
    flex-direction: column;
  }

  .blog-topline {
    left: 230px;
    display: none;
  }

  .blog-bottomline {
    left: 70px;
  }

  .article2 {
    margin-top: 120px;
    flex-direction: column;
  }

  .greenborder {
    width: 250px;
  }

  .article-image1 {
    width: 250px;
  }

  .panels {
    margin-top: 50px;
    margin-left: 130px;
  }

  .container {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    position: relative;
    z-index: 0;
  }
}

/* for more phone responsiveness
i plan to add some js later to create 
/* a drop down icon for the nav bar */
