body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* navigation bar */
#navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #0fa187 solid 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  position: relative;
  z-index: 1;
}

/* logo image */
.logo-img {
  /* padding-top: 20px; */
  padding-left: 40px;
}
nav {
  /* padding-top: 25px;
  padding-right: 40px; */
}

/* navigation links */
.nav-contain ul {
  list-style: none;
  display: flex;
}
.nav-contain ul li a {
  color: #2b6777;
  font-weight: 600;
  text-decoration: none;
  padding-right: 100px;
  font-size: 18px;
}

#contact-section .contact {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-left: 80px;
  margin-right: 120px;
  align-items: center;
}

.contact-form {
  line-height: 20px;
}

p {
  width: 70%;
  color: #2b6777;
}

.name-input {
  width: 200px;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px;
  border-width: none;
  background-color: #0fa187;
  border: #0fa187 solid;
  color: white;
  font-size: 15px;
  font-style: "Open Sans", sans-serif;
}

.email-input {
  width: 200px;
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 5px;
  border-width: none;
  background-color: #0fa187;
  border: #0fa187 solid;
  color: white;
  font-size: 15px;
  font-style: "Open Sans", sans-serif;
}

textarea {
  width: 200px;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  border-width: none;
  background-color: #0fa187;
  border: #0fa187 solid;
  color: white;
  font-size: 15px;
  font-style: "Open Sans", sans-serif;
}

::placeholder {
  color: white;
  font-style: "Open Sans", sans-serif;
}

button {
  margin-left: 40px;
  width: 150px;
  padding: 10px 10px;
  margin-top: 20px;
  background-color: #0fa187;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}

h1 {
  color: #2b6777;
  font-size: 50px;
}

.about a {
  text-decoration: none;
  color: #2b6777;
  font-size: 20px;
}

#icons {
  margin-left: 22px;
  margin-bottom: -70px;
}

.icon-container ul li {
  list-style: none;
}

.fab {
  padding-bottom: 35px;
  font-size: 20px;
  color: black;
}
.far {
  padding-bottom: 0px;
  font-size: 20px;
  color: black;
}

.nav-lines {
  display: flex;
  justify-content: space-between;
}

.logo-line {
  position: absolute;
  top: 10px;
  margin-left: 80px;
}

.right-line {
  position: absolute;
  right: 0;
}

.home-line {
  position: relative;
  padding-right: 160px;
  top: -90px;
}
.discover-line {
  position: relative;
  padding-right: 150px;
  top: -75px;
}

.project-line {
  position: relative;
  padding-right: 150px;
  top: -65px;
}

.contact-line {
  position: relative;
  padding-right: 150px;
  top: -55px;
}

.blog-line {
  position: relative;
  padding-right: 100px;
  top: -45px;
}

.lower-lines {
  display: flex;
  justify-content: space-between;
}

.left-lower {
  margin-bottom: -10px;
  margin-left: 30px;
}

.right-lower {
}

.description-line {
  position: absolute;
  bottom: -100px;
  margin-left: 260px;
}

.right-description {
}

.top-pic {
  position: absolute;
  margin-left: 155px;
  margin-top: -50px;
}

.right-pic {
  position: absolute;
  margin-top: 160px;
  margin-left: 210px;
}

.bottom-pic {
  position: absolute;
  margin-top: 215px;
  margin-left: 30px;
}

.left-pic {
  position: absolute;
  margin-top: 30px;
  margin-left: -60px;
}

@media all and (max-width: 1050px) {
  .nav-contain ul li a {
    padding-right: 80px;
  }

  .blog-line {
    padding-right: 85px;
  }

  .contact-line {
    padding-right: 135px;
  }

  .project-line {
    padding-right: 125px;
  }

  .discover-line {
    padding-right: 140px;
  }

  .home-line {
    padding-right: 130px;
  }
}

@media all and (max-width: 950px) and (min-width: 769px) {
  .nav-contain ul li a {
    padding-right: 50px;
    font-size: 17px;
  }

  .blog-line {
    padding-right: 60px;
    font-size: 11px;
  }

  .contact-line {
    padding-right: 80px;
  }

  .project-line {
    padding-right: 100px;
  }

  .discover-line {
    padding-right: 110px;
  }

  .home-line {
    padding-right: 95px;
  }

  .logo {
    width: 80px;
  }

  .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .left-description {
    margin-top: 100px;
    margin-bottom: 0;
  }
}

@media all and (max-width: 768px) and (min-width: 481px) {
  .nav-contain ul li a {
    padding-right: 15px;
    font-size: 13px;
  }

  .blog-line {
    padding-right: 20px;
  }

  .contact-line {
    padding-right: 30px;
  }

  .project-line {
    padding-right: 50px;
  }

  .discover-line {
    padding-right: 55px;
  }

  .home-line {
    padding-right: 35px;
  }

  .logo-line {
    margin-left: 60px;
  }

  .logo {
    width: 60px;
  }

  .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .left-description {
    margin-top: 100px;
  }

  .left-lower {
    margin-top: 20px;
  }

  .right-lower {
    margin-top: 30px;
  }

  .fab {
    padding-bottom: 20px;
  }

  #icons {
    margin-bottom: -130px;
  }
}

@media all and (max-width: 480px) and (min-width: 320px) {
  .nav-contain ul li a {
    padding-right: 14px;
    font-size: 13px;
  }

  .blog-line {
    padding-right: 20px;
  }

  .contact-line {
    padding-right: 30px;
  }

  .project-line {
    padding-right: 50px;
  }

  .discover-line {
    padding-right: 55px;
  }

  .home-line {
    padding-right: 35px;
  }

  .logo-line {
    margin-left: 60px;
  }

  .logo {
    width: 40px;
    margin-left: -25px;
  }

  .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .left-description {
    margin-top: 100px;
  }

  .left-lower {
    margin-bottom: -10px;
  }

  .right-lower {
    margin-top: 30px;
  }

  .fab {
    padding-bottom: 20px;
  }

  .green-border {
    font-size: 15px;
  }
}

/* for more phone responsiveness
i plan to add some js later to create 
a drop down icon for the nav bar */
